$patternfly-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------
// Bootstrap overrides and PatternFly-specific variables

// PatternFly-specific
// -------------------
$bootstrap-switch-handle-default-bg-color:                          #fbfbfb !default;
$btn-default-bg-img-start:                                          #fafafa !default;
$btn-default-bg-img-stop:                                           #ededed !default;
$btn-xs-font-weight:                                                400 !default;
$card-pf-accented-border-top-color:                                 #39a5dc !default;
$card-pf-aggregate-status-title-icon-color:                         #333 !default;
$card-pf-bg-color:                                                  #fff !default;
$card-pf-border-color:                                              #d1d1d1 !default;
$card-pf-border-top-color:                                          transparent !default;
$card-pf-container-bg-color:                                        #f5f5f5 !default;
$card-pf-footer-bg-color:                                           #fafafa !default;
$donut-font-size-big:                                               30px !default;
$dropdown-divider-margin:                                           4px 1px !default;
$dropdown-link-active-border-color:                                 #0076b7 !default;
$dropdown-link-hover-border-color:                                  #b3d3e7 !default;
$dropdown-link-focus-color:                                         #fff !default;
$flyout-transition-pf:                                              all .2s cubic-bezier(.35,0,.25,1) !default;
$font-family-monospace:                                             Menlo, Monaco, Consolas, monospace !default;
$font-path:                                                         if($patternfly-sass-asset-helper, "patternfly", "../fonts/patternfly") !default;
$footer-pf-alt-bg-color:                                            #030303 !default;
$footer-pf-alt-padding-left:                                        25px !default;
$footer-pf-alt-padding-top:                                         10px !default;
$footer-pf-alt-height:                                              37px !default;
$gray-light-pf:                                                     #aaa !default;
$gray-pf:                                                           #4d5258 !default;
$icon-font-name-fa:                                                 "FontAwesome" !default;
$icon-font-name-pf:                                                 "PatternFlyIcons-webfont" !default;
$icon-prefix:                                                       pficon !default;
$img-bg-login:                                                      "bg-login.jpg" !default;
$img-path:                                                          if($patternfly-sass-asset-helper, "patternfly", "../images/patternfly") !default;
$img-spinner:                                                       "spinner.gif" !default;
$img-spinner-lg:                                                    "spinner-lg.gif" !default;
$img-spinner-sm:                                                    "spinner-sm.gif" !default;
$img-spinner-xs:                                                    "spinner-xs.gif" !default;
$input-border-disabled:                                             #d4d4d4 !default;
$input-border-hover:                                                #7BB2DD !default;
$list-group-top-border:                                             #e9e8e8 !default;
$login-bg-color:                                                    #080808 !default;
$login-container-bg-color:                                          #181818 !default;
$login-container-bg-color-rgba:                                     rgba(255, 255, 255, 0.055) !default;
$modal-title-padding-horizontal:                                    18px !default;
$modal-title-padding-vertical:                                      10px !default;
$nav-pf-vertical-alt-active-color:                                  #39a5dc !default;
$nav-pf-vertical-alt-bg-color:                                      #fff !default;
$nav-pf-vertical-alt-badge-color:                                   #fff !default;
$nav-pf-vertical-alt-collapsed-width:                               75px !default;
$nav-pf-vertical-alt-color:                                         #464952 !default;
$nav-pf-vertical-alt-link-height:                                   63px !default;
$nav-pf-vertical-alt-link-padding:                                  17px 20px 17px 25px !default;
$nav-pf-vertical-alt-width:                                         250px !default;
$navbar-pf-active-color:                                            #f1f1f1 !default;
$navbar-pf-bg-color:                                                #030303 !default; //#393F45
$navbar-pf-border-color:                                            #199dde !default;
$navbar-pf-color:                                                   #cfcfcf !default;
$navbar-pf-alt-active-color:                                        #fff !default;
$navbar-pf-alt-bg-color:                                            #030303 !default;
$navbar-pf-alt-bg-img:                                              url("../img/bg-navbar-pf-alt.svg") !default;
$navbar-pf-alt-bg-repeat:                                           no-repeat !default;
$navbar-pf-alt-bg-size:                                             auto 100% !default;
$navbar-pf-alt-border-style:                                        solid !default;
$navbar-pf-alt-border-width:                                        2px !default;
$navbar-pf-alt-color:                                               #cfcfcf !default;
$navbar-pf-alt-height:                                              60px !default;
$navbar-pf-alt-nav-item-iconic-padding:                             21px 12px !default;
$navbar-pf-alt-navbar-brand-color:                                  #fff !default;
$navbar-pf-alt-navbar-brand-icon-margin:                            0 15px 0 0 !default;
$navbar-pf-alt-navbar-brand-margin:                                 0 0 0 25px !default;
$navbar-pf-alt-navbar-brand-min-height:                             35px !default;
$navbar-pf-alt-navbar-brand-name-breakpoint:                        480px !default;
$navbar-pf-alt-navbar-brand-name-margin:                            0 15px 0 0 !default;
$navbar-pf-alt-navbar-brand-padding:                                11px 0 12px !default;
$navbar-pf-alt-navbar-toggle-margin:                                13px 15px !default;
$navbar-pf-alt-navbar-toggle-icon-bar-hover-bg:                     #fff !default;
$navbar-pf-icon-bar-bg-color:                                       #fff !default;
$navbar-pf-navbar-navbar-brand-min-width:                           270px !default;
$navbar-pf-navbar-navbar-brand-padding:                             8px 0 7px !default;
$navbar-pf-navbar-navbar-persistent-bg-color:                       #f6f6f6 !default;
$navbar-pf-navbar-navbar-persistent-border-color:                   #cecdcd !default;
$pagination-padding-small-vertical:                                 0 !default;
$pficon-var-add-circle-o:                                           "\e61b" !default;
$pficon-var-builder-image:                                          "\e800" !default;
$pficon-var-close:                                                  "\e60b" !default;
$pficon-var-cluster:                                                "\e620" !default;
$pficon-var-container-node:                                         "\e621" !default;
$pficon-var-delete:                                                 "\e611" !default;
$pficon-var-edit:                                                   "\e60a" !default;
$pficon-var-error-circle-o:                                         "\e61d" !default;
$pficon-var-export:                                                 "\e616" !default;
$pficon-var-folder-close:                                           "\e607" !default;
$pficon-var-folder-open:                                            "\e606" !default;
$pficon-var-help:                                                   "\e605" !default;
$pficon-var-history:                                                "\e617" !default;
$pficon-var-home:                                                   "\e618" !default;
$pficon-var-image:                                                  "\e61f" !default;
$pficon-var-import:                                                 "\e615" !default;
$pficon-var-info:                                                   "\e604" !default;
$pficon-var-flag:                                                   "\e603" !default;
$pficon-var-kubernetes:                                             "\e627" !default;
$pficon-var-ok:                                                     "\e602" !default;
$pficon-var-openshift:                                              "\e626" !default;
$pficon-var-print:                                                  "\e612" !default;
$pficon-var-project:                                                "\e622" !default;
$pficon-var-registry:                                               "\e623" !default;
$pficon-var-replicator:                                             "\e624" !default;
$pficon-var-restart:                                                "\e613" !default;
$pficon-var-route:                                                  "\e625" !default;
$pficon-var-running:                                                "\e614" !default;
$pficon-var-save:                                                   "\e601" !default;
$pficon-var-screen:                                                 "\e600" !default;
$pficon-var-service:                                                "\e61e" !default;
$pficon-var-settings:                                               "\e610" !default;
$pficon-var-thumb-tack-o:                                           "\e609" !default;
$pficon-var-topology:                                               "\e608" !default;
$pficon-var-user:                                                   "\e60e" !default;
$pficon-var-users:                                                  "\e60f" !default;
$pficon-var-warning-triangle-o:                                     "\e61c" !default;
$panel-default-border-color:                                        #bebdbd !default;
$sidebar-pf-bg:                                                     #fafafa !default;
$sidebar-pf-border-color:                                           #d0d0d0 !default;
$table-border-hover:                                                #a7cadf !default;
$table-cell-padding-bottom:                                         3px !default;
$table-cell-padding-top:                                            2px !default;
// Reference variables declared in block above
$bootstrap-switch-bg-color-start:                                   $btn-default-bg-img-start !default;
$bootstrap-switch-bg-color-stop:                                    $btn-default-bg-img-stop !default;
$img-path-alt:                                                      $img-path !default;
$nav-pf-vertical-alt-border-color:                                  $sidebar-pf-border-color !default;
$navbar-pf-alt-border-color:                                        $navbar-pf-border-color !default;
$navbar-pf-navbar-header-border-color:                              lighten($navbar-pf-bg-color, 15%) !default;
$navbar-pf-navbar-nav-active-active-bg-color:                       lighten($navbar-pf-bg-color, 8%) !default;
$navbar-pf-navbar-nav-active-active-open-bg-color:                  lighten($navbar-pf-bg-color, 11%) !default;
$navbar-pf-navbar-nav-active-bg-color:                              lighten($navbar-pf-bg-color, 12.5%) !default;
$navbar-pf-navbar-primary-bg-color-start:                           lighten($navbar-pf-bg-color, 10%); // #474C50 !default;
$navbar-pf-navbar-primary-bg-color-stop:                            $navbar-pf-bg-color; // #383F43 !default;
$navbar-pf-navbar-utility-border-color:                             lighten($navbar-pf-bg-color, 15.5%) !default;
$navbar-pf-navbar-utility-color:                                    $navbar-pf-color !default;
$navbar-pf-navbar-utility-hover-bg-color:                           lighten($navbar-pf-bg-color, 12.5%) !default;
$nav-tabs-color:                                                    $gray-pf !default;
// Reference variables declared in block above
$navbar-pf-navbar-primary-context-bg-color-start:                   lighten($navbar-pf-navbar-primary-bg-color-start, 8.5%) !default;
$navbar-pf-navbar-primary-context-bg-color-stop:                    lighten($navbar-pf-navbar-primary-bg-color-stop, 11%) !default;
$navbar-pf-navbar-primary-hover-bg-color-start:                     lighten($navbar-pf-navbar-primary-bg-color-start, 10%) !default;
$navbar-pf-navbar-primary-hover-bg-color-stop:                      lighten($navbar-pf-navbar-primary-bg-color-stop, 10%) !default;
$navbar-pf-navbar-primary-hover-border-color:                       lighten($navbar-pf-navbar-header-border-color, 20%) !default;
$navbar-pf-navbar-primary-context-border-color:                     lighten($navbar-pf-navbar-header-border-color, 8%) !default;
$navbar-pf-navbar-primary-context-border-top-color:                 lighten($navbar-pf-navbar-header-border-color, 7%) !default;
$navbar-pf-navbar-utility-hover-border-color:                       lighten($navbar-pf-navbar-utility-border-color, 5%) !default;
$navbar-pf-navbar-utility-open-bg-color:                            lighten($navbar-pf-navbar-utility-hover-bg-color, 7.5%) !default;
$navbar-pf-navbar-utility-open-border-color:                        lighten($navbar-pf-navbar-utility-hover-border-color, 5%) !default;
// Reference variables declared in block above
$navbar-pf-navbar-primary-active-bg-color-start:                    lighten($navbar-pf-navbar-primary-hover-bg-color-start, 5%) !default;
$navbar-pf-navbar-primary-active-bg-color-stop:                     lighten($navbar-pf-navbar-primary-hover-bg-color-stop, 7.5%) !default;
$navbar-pf-navbar-primary-active-border-color:                      lighten($navbar-pf-navbar-primary-hover-border-color, 5%) !default;
$navbar-pf-navbar-primary-context-hover-bg-color-start:             lighten($navbar-pf-navbar-primary-context-bg-color-start, 5%) !default;
$navbar-pf-navbar-primary-context-hover-bg-color-stop:              lighten($navbar-pf-navbar-primary-context-bg-color-stop, 7.5%) !default;
$navbar-pf-navbar-primary-context-hover-border-color:               lighten($navbar-pf-navbar-primary-context-border-color, 5%) !default;
$navbar-pf-navbar-primary-context-hover-border-top-color:           lighten($navbar-pf-navbar-primary-context-border-top-color, 6%) !default;
// Reference variables declared in block above
$navbar-pf-navbar-primary-context-active-bg-color-start:            lighten($navbar-pf-navbar-primary-context-hover-bg-color-start, 5%) !default;
$navbar-pf-navbar-primary-context-active-bg-color-stop:             lighten($navbar-pf-navbar-primary-context-hover-bg-color-stop, 7.5%) !default;
$navbar-pf-navbar-primary-context-active-border-color:              lighten($navbar-pf-navbar-primary-context-hover-border-color, 5%) !default;
$navbar-pf-navbar-primary-context-active-border-top-color:          lighten($navbar-pf-navbar-primary-context-hover-border-top-color, 6%) !default;
// References variable declared in block above
$navbar-pf-navbar-primary-context-active-border-right-color:        $navbar-pf-navbar-primary-context-active-border-color !default;


// Bootstrap overrides
// -------------------
$alert-info-border:                                                 #ccc !default;
$alert-link-font-weight:                                            500 !default;
$alert-padding:                                                     7px !default;
$body-bg:                                                           #ffffff !default;
$border-radius-base:                                                1px !default;
$brand-danger:                                                      #cc0000 !default;
$brand-info:                                                        #006e9c !default;
$brand-primary:                                                     #00a8e1 !default;
$brand-success:                                                     #3f9c35 !default;
$brand-warning:                                                     #ec7a08 !default;
$breadcrumb-bg:                                                     transparent !default;
$breadcrumb-separator:                                              "\f105" !default;
$btn-danger-bg:                                                     #a30000 !default;
$btn-danger-border:                                                 #781919 !default;
$btn-default-border:                                                #b7b7b7 !default;
$btn-font-weight:                                                   600 !default;
$btn-primary-bg:                                                    #0085cf !default;
$btn-primary-border:                                                #006e9c !default;
$caret-width-base:                                                  0 !default;
$dropdown-border:                                                   #b6b6b6 !default;
$dropdown-divider-bg:                                               #e5e5e5 !default;
$dropdown-link-active-color:                                        #fff !default;
$dropdown-link-hover-bg:                                            #d4edfa !default;
$font-family-base:                                                  "Open Sans", Helvetica, Arial, sans-serif !default;
$font-size-base:                                                    12px !default;
$gray-dark:                                                         lighten(#000, 20%) !default;   // #333
$gray-darker:                                                       lighten(#000, 13.5%) !default; // #222
$gray-light:                                                        lighten(#000, 60%) !default;   // #999
$gray-lighter:                                                      lighten(#000, 93.5%) !default; // #eee
$grid-gutter-width:                                                 40px !default;
$input-bg-disabled:                                                 #F8F8F8 !default;
$input-border:                                                      #BABABA !default;
$line-height-base:                                                  1.66666667 !default; // 20/12
$link-color:                                                        #0099d3 !default;
$list-group-border:                                                 #f2f2f2 !default;
$list-group-border-radius:                                          0 !default;
$list-group-hover-bg:                                               #d4edfa !default;
$link-hover-color:                                                  #00618a !default;
$nav-tabs-border-color:                                             #e9e8e8 !default;
$nav-tabs-link-hover-border-color:                                  transparent !default;
$padding-large-horizontal:                                          10px !default;
$padding-base-horizontal:                                           6px !default;
$padding-base-vertical:                                             2px !default;
$padding-large-vertical:                                            6px !default;
$pager-border-radius:                                               0 !default;
$pager-disabled-color:                                              #969696 !default;
$pagination-bg:                                                     #f5f5f5 !default;
$pagination-border:                                                 #bbbbbb !default;
$pagination-hover-bg:                                               #ededed !default;
$panel-inner-border:                                                #cecdcd !default;
$popover-arrow-color:                                               #fff !default;
$popover-arrow-outer-color:                                         #bbb !default;
$popover-border-color:                                              #bbb !default;
$popover-max-width:                                                 220px !default;
$popover-title-bg:                                                  #f5f5f5 !default;
$pre-bg:                                                            #fcfcfc !default;
$progress-bg:                                                       #ededed !default;
$table-bg-accent:                                                   #f5f5f5 !default;
$table-bg-hover:                                                    #d5ecf9 !default;
$table-border-color:                                                #d1d1d1 !default;
$table-cell-padding:                                                10px !default;
$tooltip-arrow-width:                                               8px !default;
$tooltip-bg:                                                        #434343 !default;
$tooltip-max-width:                                                 220px !default;
// Reference variables declared in block above
$alert-danger-bg:                                                   $body-bg !default;
$alert-danger-border:                                               $brand-danger !default;
$alert-danger-text:                                                 $gray-dark !default;
$alert-info-bg:                                                     $body-bg !default;
$alert-info-text:                                                   $gray-dark !default;
$alert-success-bg:                                                  $body-bg !default;
$alert-success-border:                                              $brand-success !default;
$alert-success-text:                                                $gray-dark !default;
$alert-warning-bg:                                                  $body-bg !default;
$alert-warning-border:                                              $brand-warning !default;
$alert-warning-text:                                                $gray-dark !default;
$badge-border-radius:                                               $border-radius-base !default;
$border-radius-large:                                               $border-radius-base !default;
$border-radius-small:                                               $border-radius-base !default;
$breadcrumb-active-color:                                           $gray-pf !default;
$breadcrumb-color:                                                  $gray-pf !default;
$btn-default-bg:                                                    $gray-lighter !default;
$btn-default-color:                                                 $gray-pf !default;
$caret-width-large:                                                 $caret-width-base !default;
$dropdown-fallback-border:                                          $dropdown-border !default;
$dropdown-link-active-bg:                                           $link-color !default;
$dropdown-link-hover-color:                                         $gray-pf !default;
$font-size-h1:                                                      ceil($font-size-base * 2) !default; // ~24px
$font-size-h2:                                                      ceil($font-size-base * 1.8333) !default; // ~22px
$font-size-h3:                                                      ceil($font-size-base * 1.3333) !default; // ~16px
$font-size-h5:                                                      ceil($font-size-base * 1.0833) !default; // ~13px
$font-size-large:                                                   ceil($font-size-base * 1.1666) !default; // ~14px
$font-size-small:                                                   ceil($font-size-base * .9166) !default; // ~11px
$input-color:                                                       $gray-dark !default;
$nav-tabs-active-link-hover-color:                                  $link-color !default;
$nav-tabs-justified-link-border-color:                              $nav-tabs-border-color !default;
$padding-small-horizontal:                                          $padding-base-horizontal !default;
$padding-small-vertical:                                            $padding-base-vertical !default;
$panel-danger-border:                                               $brand-danger !default;
$panel-danger-heading-bg:                                           $brand-danger !default;
$panel-info-border:                                                 $brand-info !default;
$panel-info-heading-bg:                                             $brand-info !default;
$panel-primary-text:                                                $body-bg !default;
$panel-success-border:                                              $brand-success !default;
$panel-success-heading-bg:                                          $brand-success !default;
$panel-warning-border:                                              $brand-warning !default;
$panel-warning-heading-bg:                                          $brand-warning !default;
$state-warning-text:                                                $brand-warning !default;
// Reference variable declared in block above
$panel-danger-text:                                                 $panel-primary-text !default;
$panel-info-text:                                                   $panel-primary-text !default;
$panel-success-text:                                                $panel-primary-text !default;
$panel-warning-text:                                                $panel-primary-text !default;

// PatternFly-specific variables based on Bootstrap overides
// ---------------------------------------------------------
$bootstrap-switch-bg-color:                                         $btn-default-bg !default;
$btn-danger-bg-img-start:                                           $brand-danger !default;
$btn-danger-bg-img-stop:                                            $btn-danger-bg !default;
$btn-primary-bg-img-start:                                          $brand-primary !default;
$btn-primary-bg-img-stop:                                           $btn-primary-bg !default;
$dropdown-link-focus-bg:                                            $link-color !default;
$line-height-computed:                                              floor(($font-size-base * $line-height-base)) !default;
$notification-badge-color:                                          $brand-danger !default;
$progress-sm:                                                       $line-height-computed - 6 !default;
$progress-xs:                                                       $line-height-computed - 14 !default;
$syntax-1:                                                          $btn-danger-bg !default;
$syntax-2:                                                          $gray-dark !default;
$syntax-3:                                                          $brand-success !default;
$syntax-4:                                                          $brand-info !default;
$tooltip-font-size:                                                 $font-size-base !default;
